<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-5">
        <img routerLink="/home" src="/image.png" alt="logo" class="img-fluid ">
      </div>

      <div class="col-md-3 col-7 m-auto position-relative">
        <input class="form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="filteration">
        <!-- dropdown results -->
        <div class="dropdown-results bg-white shadow rounded position-absolute w-100" *ngIf="filteration && filteredItems.length">
          <div *ngFor="let item of filteredItems" class="p-2 border-bottom cursor-pointer">
            <a [routerLink]="['/product-details', item._id]" class="text-decoration-none text-dark" (click)="closeDropdown()">
              {{ item.title }}
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-12 py-3 py-md-0 d-flex justify-content-md-end justify-content-center my-auto">

        <a routerLink="/product" class="nav-link pe-3">Products</a>

        <a routerLink="/WhishList" class="nav-link pe-3">WhishList</a>

        <div class="dropdown pe-3">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{currentLanguage}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="switchLanguage('EN')">EN</a>
            <a class="dropdown-item" (click)="switchLanguage('AR')">AR</a>
          </div>
        </div>

        <a routerLink="/login" class="nav-link pe-3">Login</a>

        <i routerLink="/cart" class="fa-solid fa-cart-shopping my-auto"></i>
      </div>

    </div>
  </div>
</nav>
