<div  class="card  rounded-5 mt-3 p-2 bg-white" style="cursor: pointer;">

  <div [routerLink]="['/product-details',product._id]">
    <img [src]="product.imageCover" class="card-img-top img-fluid" alt="product.title">
    <h5 class="card-title text-truncate">{{product.category.name}}</h5>
    <p class="card-text text-truncate">{{product.title}}</p>
    <span class="fw-bold">{{product.price}} EGP</span>
  </div>

  <button type="button" class="btn rounded-pill w-100 my-3 text-white">add to cart</button>

</div>
